extends ./base/layout.pug

block content
    .login-content
        .container-fluid
        .container-fluid
            .row.login-header
                .col-xs-12.title Panter
                    span.bold Connection
                .col-xs-12.subtitle working toogeter
            .row.content-login
                .col-lg-7.col-md-6.col-sm-5.col-xs-12
                .col-lg-7.col-md-6.col-sm-5.col-xs-12.login-box
                    .login-form